<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
        <a class="navbar-brand" href="#">Lotus Lab</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" routerLink="/services-page">Packages</a>
            <a class="nav-item nav-link" routerLink="/symptom-checker">Symptom Checker</a>
          </div>
        </div>
        <form class="form-inline" *ngIf="cookieValue == ''; else loggedIn">
          <button type="button" class="btn btn-md btn-outline-primary mr-sm-2" data-toggle="modal" data-target="#loginModal">Log In</button>
          <button type="button" class="btn btn-md btn-outline-light my-1 mr-sm-2" data-toggle="modal" data-target="#signUpModal">Sign Up</button>
          <button type="button" class="btn btn-md btn-outline-info my-1 mr-sm-2" (click)="isLoggedIn()">Make an appointment</button>
        </form>
      </nav>
    </div>
  </div>
  <div class="accordion mt-5" id="accordionExample" style="margin-bottom: 15%;">
  <div class="card">
    <div class="card-header text-center" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-md btn-outline-info" type="button" data-toggle="collapse" data-target="#basic" aria-expanded="true" aria-controls="collapseOne">
          Basic - &#8377; 1600
        </button>
      </h5>
    </div>

    <div id="basic" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item">Complete Blood Count</li>
          <li class="list-group-item">ESR</li>
          <li class="list-group-item">Blood Sugar Fasting</li>
          <li class="list-group-item">Blood Sugar Post Lunch</li>
          <li class="list-group-item">Total Cholesterol</li>
          <li class="list-group-item">Triglycerides</li>
          <li class="list-group-item">Total Proteins</li>
          <li class="list-group-item">SGPT</li>
          <li class="list-group-item">Uric Acid</li>
          <li class="list-group-item">Calcium</li>
          <li class="list-group-item">Phosphorous</li>
          <li class="list-group-item">Creatinine</li>
          <li class="list-group-item">BUN</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header text-center" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-md btn-outline-info" type="button" data-toggle="collapse" data-target="#comprehensive" aria-expanded="true" aria-controls="collapseOne">
          Comprehensive - &#8377; 2300
        </button>
      </h5>
    </div>

    <div id="comprehensive" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item">Complete Blood Count</li>
          <li class="list-group-item">ESR</li>
          <li class="list-group-item">Blood Sugar Fasting</li>
          <li class="list-group-item">Blood Sugar Post Lunch</li>
        </ul>
        <h5 style="margin-top: 2%;">Lipid Profile</h5>
        <ul class="list-group">
          <li class="list-group-item">Total Cholesterol</li>
          <li class="list-group-item">Triglyceride</li>
          <li class="list-group-item">HDL</li>
          <li class="list-group-item">LDL</li>
          <li class="list-group-item">VLDL</li>
          <li class="list-group-item">CHO/ LDL Ratio</li>
        </ul>
        <h5 style="margin-top: 2%;">Liver Profile</h5>
        <ul class="list-group">
          <li class="list-group-item">Total Proteins</li>
          <li class="list-group-item">Albumin</li>
          <li class="list-group-item">Globulin</li>
          <li class="list-group-item">SGOT</li>
          <li class="list-group-item">SGPT</li>
          <li class="list-group-item">GGT</li>
          <li class="list-group-item">Alkaline Phosphatase</li>
        </ul>
        <h5 style="margin-top: 2%;">Kidney Profile</h5>
        <ul class="list-group">
          <li class="list-group-item">S.Creatinine/ BUN/ Uric Acid</li>
          <li class="list-group-item">Sodium/ Potassium/ Chloride</li>
          <li class="list-group-item">Calcium/ Phosphorous</li>
        </ul>
        <h5 style="margin-top: 2%;">Special Tests</h5>
        <ul class="list-group">
          <li class="list-group-item">CRP</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header text-center" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-md btn-outline-info" type="button" data-toggle="collapse" data-target="#ultra" aria-expanded="true" aria-controls="collapseOne">
          Ultra - &#8377; 3200
        </button>
      </h5>
    </div>

    <div id="ultra" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item">Complete Blood Count</li>
          <li class="list-group-item">ESR</li>
          <li class="list-group-item">Urine Routine Examination</li>
          <li class="list-group-item">Blood Sugar Fasting</li>
          <li class="list-group-item">Blood Sugar Post Lunch</li>
          <li class="list-group-item">Glycosylated Haemoglobin (HbA1c)</li>
        </ul>
        <h5 style="margin-top: 2%;">Lipid Profile</h5>
        <ul class="list-group">
          <li class="list-group-item">Total Cholesterol</li>
          <li class="list-group-item">Triglyceride</li>
          <li class="list-group-item">HDL</li>
          <li class="list-group-item">LDL</li>
          <li class="list-group-item">VLDL</li>
          <li class="list-group-item">CHO/ LDL Ratio</li>
        </ul>
        <h5 style="margin-top: 2%;">Liver Profile</h5>
        <ul class="list-group">
          <li class="list-group-item">Total Proteins</li>
          <li class="list-group-item">Albumin</li>
          <li class="list-group-item">Globulin</li>
          <li class="list-group-item">SGOT</li>
          <li class="list-group-item">SGPT</li>
          <li class="list-group-item">GGT</li>
          <li class="list-group-item">Alkaline Phosphatase</li>
        </ul>
        <h5 style="margin-top: 2%;">Kidney Profile</h5>
        <ul class="list-group">
          <li class="list-group-item">S.Creatinine/ BUN/ Uric Acid</li>
          <li class="list-group-item">Sodium/ Potassium/ Chloride</li>
          <li class="list-group-item">Calcium/ Phosphorous</li>
        </ul>
        <h5 style="margin-top: 2%;">Special Tests</h5>
        <ul class="list-group">
          <li class="list-group-item">CRP</li>
          <li class="list-group-item">T3/ T4/ TSH</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header text-center" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-md btn-outline-info" type="button" data-toggle="collapse" data-target="#premium" aria-expanded="true" aria-controls="collapseOne">
          Premium - &#8377; 4600
        </button>
      </h5>
    </div>

    <div id="premium" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item">Complete Blood Count</li>
          <li class="list-group-item">ESR</li>
          <li class="list-group-item">Urine Routine Examination</li>
          <li class="list-group-item">Blood Sugar Fasting</li>
          <li class="list-group-item">Blood Sugar Post Lunch</li>
          <li class="list-group-item">Glycosylated Haemoglobin (HbA1c)</li>
        </ul>
        <h5 style="margin-top: 2%;">Lipid Profile</h5>
        <ul class="list-group">
          <li class="list-group-item">Total Cholesterol</li>
          <li class="list-group-item">Triglyceride</li>
          <li class="list-group-item">HDL</li>
          <li class="list-group-item">LDL</li>
          <li class="list-group-item">VLDL</li>
          <li class="list-group-item">CHO/ LDL Ratio</li>
        </ul>
        <h5 style="margin-top: 2%;">Liver Profile</h5>
        <ul class="list-group">
          <li class="list-group-item">Total Proteins</li>
          <li class="list-group-item">Albumin</li>
          <li class="list-group-item">Globulin</li>
          <li class="list-group-item">SGOT</li>
          <li class="list-group-item">SGPT</li>
          <li class="list-group-item">GGT</li>
          <li class="list-group-item">Alkaline Phosphatase</li>
        </ul>
        <h5 style="margin-top: 2%;">Kidney Profile</h5>
        <ul class="list-group">
          <li class="list-group-item">S.Creatinine/ BUN/ Uric Acid</li>
          <li class="list-group-item">Sodium/ Potassium/ Chloride</li>
          <li class="list-group-item">Calcium/ Phosphorous</li>
        </ul>
        <h5 style="margin-top: 2%;">Special Tests</h5>
        <ul class="list-group">
          <li class="list-group-item">CRP</li>
          <li class="list-group-item">T3/ T4/ TSH</li>
          <li class="list-group-item">Vit D</li>
          <li class="list-group-item">Vit B12</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header text-center" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-md btn-outline-info" type="button" data-toggle="collapse" data-target="#obesity" aria-expanded="true" aria-controls="collapseOne">
          Obesity - &#8377; 2700
        </button>
      </h5>
    </div>

    <div id="obesity" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item">Blood Sugar Fasting</li>
          <li class="list-group-item">Blood Sugar Post Lunch</li>
          <li class="list-group-item">Insulin Fasting</li>
          <li class="list-group-item">Insulin Post Lunch</li>
        </ul>
        <h5 style="margin-top: 2%;">Lipid Profile</h5>
        <ul class="list-group">
          <li class="list-group-item">Total Cholesterol</li>
          <li class="list-group-item">Triglyceride</li>
          <li class="list-group-item">HDL</li>
          <li class="list-group-item">LDL</li>
          <li class="list-group-item">VLDL</li>
          <li class="list-group-item">CHO/ LDL Ratio</li>
          <li class="list-group-item">Total Proteins</li>
          <li class="list-group-item">Albumin</li>
          <li class="list-group-item">Globulin</li>
          <li class="list-group-item">Cortison</li>
          <li class="list-group-item">Uric Acid</li>
          <li class="list-group-item">T3/ T4/ TSH</li>
        </ul>
      </div>
    </div>
  </div>
</div>
  <!-- <div class="card-group mt-5" style="margin-bottom: 15%;">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Basic</h5>
    </div>
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item">Complete Blood Count</li>
        <li class="list-group-item">ESR</li>
        <li class="list-group-item">Blood Sugar Fasting</li>
        <li class="list-group-item">Blood Sugar Post Lunch</li>
        <li class="list-group-item">Total Cholesterol</li>
        <li class="list-group-item">Triglycerides</li>
        <li class="list-group-item">Total Proteins</li>
        <li class="list-group-item">SGPT</li>
        <li class="list-group-item">Uric Acid</li>
        <li class="list-group-item">Calcium</li>
        <li class="list-group-item">Phosphorous</li>
        <li class="list-group-item">Creatinine</li>
        <li class="list-group-item">BUN</li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Comprehensive</h5>
    </div>
    <div class="card-body">
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div> -->
  <app-footer-component></app-footer-component>
  <ng-template #loggedIn>
    <form class="form-inline">
      <button type="button" class="btn btn-md btn-outline-danger mr-sm-2" (click)="logout()">Log Out</button>
      <button type="button" class="btn btn-md btn-outline-light my-1 mr-sm-2" routerLink="/profile">Profile</button>
      <button type="button" class="btn btn-md btn-outline-info my-1 mr-sm-2" (click)="isLoggedIn()">Make an appointment</button>
    </form>
  </ng-template>
</div>
