<hr class="my-4" />
<div class="row">
  <!-- Lotus Lab Column -->
  <div class="col-4">
    <h4>Lotus Lab</h4>
    <div class="row">
      <div class="col-4">
        <a class="btn btn-sm btn-link" role="button"><h6>About Us</h6></a>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <h6>Our Clients</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <h6>Contact Us</h6>
      </div>
    </div>
  </div>
  <!-- Services Column -->
  <div class="col-4">
    <h4>Services</h4>
    <div class="row">
      <div class="col-4">
        <a class="btn btn-sm btn-link" role="button" routerLink="/symptom-checker"><h6>Diagnostics</h6></a>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <h6>Blood Test</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <h6>Health Checkup</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <h6>Home Healthcare</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <h6>Corporate Wellness Programs</h6>
      </div>
    </div>
  </div>
  <!-- Get in touch Column -->
  <div class="col-4">
    <h6>Get in touch</h6>
    <div class="row">
      <mat-form-field hintLabel="Send email" appearance="legacy" class="col-6">
        <mat-label>Shoot us an email</mat-label>
        <input matInput type="email" placeholder="e.g. ojas.patwardhan@gmail.com">
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col-6">
        <button mat-raised-button color="primary" style="margin-top: 1%;">Send</button>
      </div>
    </div>
    <div class="row" style="margin-top: 5%;">
      <div class="col-5">
        <h6>Connect with us on: </h6>
      </div>
      <div class="col-2">
        <i class="fab fa-twitter"><a href="#"></a></i>
      </div>
      <div class="col-2">
        <i class="fab fa-facebook-f"><a href="#"></a></i>
      </div>
      <div class="col-2">
        <i class="fab fa-linkedin-in"><a href="#"></a></i>
      </div>
    </div>
  </div>
</div>
