<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-dark bg-dark navbar-expand-lg" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">Lotus Lab</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" routerLink="/services-page">Packages</a>
            <a class="nav-item nav-link" routerLink="/symptom-checker">Symptom Checker</a>
          </div>
        </div>
        <form class="form-inline" *ngIf="cookieValue == ''; else loggedIn">
          <button type="button" class="btn btn-md btn-outline-light mr-sm-2" data-toggle="modal" data-target="#loginModal">Log In</button>
          <button type="button" class="btn btn-md btn-outline-dark my-1 mr-sm-2" data-toggle="modal" data-target="#signUpModal">Sign Up</button>
          <button type="button" class="btn btn-md btn-outline-info my-1 mr-sm-2" (click)="isLoggedIn()">Make an appointment</button>
        </form>
      </nav>
    </div>
  </div>
  <div class="row" style="margin-top: 5%;">
    <div class="col-md-6" style="margin-left: 5%;">
      <div class="row">
        <mat-form-field class="col-md-12" appearance="outline" color="primary">
          <mat-label>Username</mat-label>
          <input [(ngModel)]="user.username" matInput />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-12" appearance="outline" color="primary">
          <mat-label>Password</mat-label>
          <input [(ngModel)]="user.password" matInput />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-12" appearance="outline" color="primary">
          <mat-label>First Name</mat-label>
          <input id="firstName" [(ngModel)]="user.firstName" required matInput />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-12" appearance="outline" color="primary">
          <mat-label>Last Name</mat-label>
          <input [(ngModel)]="user.lastName" matInput />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-12" appearance="outline" color="primary">
          <mat-label>Email</mat-label>
          <input id="email" type="email" [(ngModel)]="user.email" required matInput />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-12" appearance="outline" color="primary">
          <mat-label>Address</mat-label>
          <textarea matInput rows="5" [(ngModel)]="user.address" placeholder="Please type your address here"></textarea>
        </mat-form-field>
      </div>
      <div class="row">
        <button mat-raised-button color="accent" class="col-md-12" (click) = "updateUser(user)">Update</button>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <div id="errorMessage" class="alert alert-danger" role="alert" style="display: none;">
            {{errorMessage}}
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <button mat-raised-button color="primary" class="col-md-12" (click) = "logout()" style="margin-top: 2%;">Logout</button>
      </div> -->
      <!-- <div class="row">
        <button mat-raised-button routerLink="/home" class="col-md-12" style="margin-top: 2%;">Home</button>
      </div> -->
      <div class="row" *ngIf="user.role == 'admin'">
        <button mat-raised-button color="primary" routerLink="/admin-page" class="col-md-12" style="margin-top: 2%;">Admin Page</button>
      </div>
      <div class="row" *ngIf="user.role == 'technician'">
        <button mat-raised-button color="primary" routerLink="/technician-page" class="col-md-12" style="margin-top: 2%;">Technician Page</button>
      </div>
    </div>
    <div *ngIf="isAppointment == true" class="col-4" style="margin-left: 5%;">
      <mat-card class="example-card">
        <mat-card-header style="text-align: center;">
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title><h4>Appointment Details</h4></mat-card-title>
          <mat-card-subtitle><h4>Confirmation Number - {{appointment.confirmationNumber}}</h4></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content style="text-align: center;">
          <div class="row">
            <div class="col-12">
              <h5 #time >Time - {{appointment.time}} hrs</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h5>Status - {{appointment.status}}</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h5>Date - {{appointment.date}} <small>(MM/DD/YYYY)</small></h5>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h5>Duration - {{appointment.duration}} mins</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h5>Name - {{appointment.name}}</h5>
            </div>
          </div>
        </mat-card-content>
        <div class="row">
          <div class="col-md-4 ml-5">
            <mat-card-actions>
              <button mat-raised-button color="accent" (click)="cancelAppointment(appointment.id)">Cancel</button>
            </mat-card-actions>
          </div>
          <div class="col-md-4 ml-5">
            <mat-card-actions>
              <button mat-raised-button color="primary" (click)="rescheduleAppointment(appointment.id)">Reschedule</button>
            </mat-card-actions>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <!-- Available times Modal -->
  <div class="modal fade" id="availableTimesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Reschedule Appointment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <h4>Select a time</h4>
            </div>
          </div>
          <div class="row" *ngFor="let availableTime of availableTimes">
            <div class="col-6 mt-3">
              {{availableTime.displayTime}}
            </div>
            <div class="col-6 mt-2">
              <button type="button" class="btn btn-md btn-outline-success" (click)="confirmReschedule(availableTime.startDateTime, availableTime.endDateTime)">Book</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  <ng-template #loggedIn>
    <form class="form-inline">
      <button type="button" class="btn btn-md btn-outline-danger mr-sm-2" (click)="logout()">Log Out</button>
      <button type="button" class="btn btn-md btn-outline-info my-1 mr-sm-2" (click)="isLoggedIn()">Make an appointment</button>
    </form>
  </ng-template>
  <app-footer-component></app-footer-component>
</div>
