<div class="container-fluid">
  <app-home-page></app-home-page>
  <div class="row" style="margin-top: 5%; margin-left: 30%;">
    <mat-form-field hintLabel="Enter email" appearance="legacy" class="col-6">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="ojas.patwardhan@gmail.com">
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
  </div>
  <div class="row" style="margin-top: 1%; margin-left: 30%;">
    <div class="col-6">
      <button mat-raised-button color="accent">Reset Password</button>
    </div>
  </div>
</div>
