<div class="container-fluid">
  <div class="row" style="margin-top: 5%; margin-left: 30%;">
    <mat-form-field hintLabel="Enter email" appearance="legacy" class="col-6">
      <mat-label>Email</mat-label>
      <input matInput type="email" [(ngModel)]="emailId" placeholder="ojas.patwardhan@gmail.com">
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
  </div>
  <div class="row" style="margin-top: 1%; margin-left: 30%;">
    <div class="col-6">
      <button mat-raised-button color="accent" (click)="forgotPassword()">Reset Password</button>
    </div>
  </div>
  <div class="row mt-2" style="margin-bottom: 25%; margin-left: 30%;">
    <div class="col-6">
      <div id="errorMessage" class="alert alert-danger" role="alert" style="display: none;">
        {{errorMessage}}
      </div>
    </div>
  </div>
  <app-footer-component></app-footer-component>
</div>
